<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/logged-in-layout.html}">
<head>
    <title th:text="'Shopping list '"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{''}" method="post" th:object="${shoppingList}">
        <label>
            Name: <input type="text" th:field="*{name}"/>
        </label> <br />
        <!--<label><input type="checkbox" th:field="*{items}" th:each="item : ${shoppingList.items}"></label>-->
        <!--<label><input type="checkbox" th:field="*{items}" ></label>-->
        <button type="submit" class="glyphicon glyphicon-plus" name="addItem"><span class="glyphicon glyphicon-align-left" aria-hidden="true">Add item</span></button>
        <div th:each="item, itemStat : ${shoppingList.items}">
           <input type="checkbox" th:field="*{items[__${itemStat.index}__].bought}" />
            <input type="text" th:field="*{items[__${itemStat.index}__].name}">
            <button type="submit" name="removeItem" th:value="${itemStat.index}">Delete</button>
        </div>
        <input type="submit">
    </form>
</section>
</body>
</html>