<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/logged-in-layout.html}">
<head>
    <title>Shopping list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section layout:fragment="content">
    <h2><a th:href="@{/shopping-list}">Create a new shopping list</a></h2>

    <div th:if="${!shoppingLists.isEmpty()}">
        <h2>Your shopping lists</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Updated</th>
                <th scope="col">Created</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${shoppingLists}">
                <th scope="row" th:text="${list.name}"></th>
                <td th:text="${list.recentUpdate}"></td>
                <td th:text="${list.creationDate}">Otto</td>
                <td><a th:href="@{|/shopping-list/${list.id}|}">
                    <img th:src="@{/images/icons_edit.svg}"/>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>